@charset "utf-8";

body, div, ul, li, table, tr, td, th{margin:0px; padding:0px;}

ul, li{list-style:none;}

html {
	background: url(background1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

.logmain{
	background-color:#e0e0e0;
	width:400px;
	height:250px;
	left:0;
	right:0;
	margin-left:40%;
	margin-right:auto;
	bottom:0;
	margin-top:15%;
	margin-bottom:auto;
}

.idpass{
	padding: 5px;
	width:330px; height:20px;
	font-size:20px;
}

.createmain{
	background-color:#eeeeee;
	width:30%;
	height:100%;
	left:0;
	right:0;
	margin-left:35%;
	margin-right:auto;
	bottom:0;
	margin-top:15%;
	margin-bottom:auto;
}

.createin{
	padding: 5px;
	font-size:12px;
}

























