<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.itbank.TechFarm.tftube.mybatis.RecentVideoMapper">

 <insert id="insertRecent" parameterType="RecentVideoDTO" useGeneratedKeys="true">
 insert into tftube_recentvideo(member_no,video_name,ip) values(#{member_no},#{video_name},#{ip})
 </insert>
 
 <select id="listRecent_member_no" resultType="RecentVideoDTO" parameterType="String">
 select * from tftube_recentvideo where member_no=#{member_no} order by no desc
 </select>
 
 <select id="listRecent_ip" resultType="RecentVideoDTO" parameterType="String">
 select * from tftube_recentvideo where ip=#{ip} order by no desc
 </select>

</mapper>
