<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.itbank.TechFarm.tftube.mybatis.RecentVideoMapper">

 <insert id="insertRecent" parameterType="RecentVideoDTO" useGeneratedKeys="true">
 insert into tftube_recentvideo(member_no,video_name) values(#{member_no},#{video_name})
 </insert>
 
 <select id="listRecent_member_no" resultType="RecentVideoDTO" parameterType="String">
 select * from tftube_recentvideo where member_no=#{member_no} order by no desc
 </select>
 
<select id="listVideo_recent">
 select * from tftube_video a join tftube_recentvideo b on a.video_name=b.video_name
 
select c.name tfmember.member c (select member_no from tftube_video a join tftube_recentvideo b on a.video_name=b.video_name)d on a.member_no=b.member_no  
</select>
</mapper>
