<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.itbank.TechFarm.tftube.mybatis.ReplyMapper">

	<select id="replyList" resultType="replyDTO">
		select * from tftube_reply order by no desc
	</select>

	<select id="getreply" resultType="replyDTO" parameterType="int">
		select * from tftube_reply where num = #{num}
	</select>
	
	<delete id="deletereply" parameterType="int">
		delete from tftube_reply where num = #{num}
	</delete>
	
	<insert id="insertReply" parameterType="replyDTO" useGeneratedKeys="true">	
		insert into tftube_reply values(#{id},#{content})		
	</insert>
	
	<update id="insertreply2_1">	
		update tftube_reply set re_step = re_step + 1
	</update>
	
	<update id="insertreply2_2" parameterType="replyDTO">	
		update tftube_reply set re_step = re_step + 1 where re_step > #{re_step}
	</update>
	
	<update id="updatereply" parameterType="replyDTO">
		update tftube_reply set writer=#{writer}, email=#{email},
		subject=#{subject}, content=#{content} where num=#{num}
	</update>
	
	<update id="readCount" parameterType="java.util.HashMap">
		${sql}
		<!-- 문자열을 받을때는 $를 이용해서 받아준다.
		#은 해당 문자열에 대한 값 -->
	</update>
	
	<select id="isPassword" resultType="String" parameterType="int">
		select passwd from tftube_reply where num = #{num}
	</select>
	
	<select id="getCount" resultType="int">
	select count(*) from tftube_reply
	</select>
	
	
	<select id="listreply" parameterType="java.util.HashMap" resultType="replyDTO">
 	select * from (select rownum rn,A.*from(select * from tftube_reply order by re_step asc)A)
	where rn between ${start} and ${end}
	</select>
	
	
	
	
	
</mapper>












