<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.itbank.TechFarm.tftube.mybatis.SubingMapper">

<insert id="insertSubed" parameterType="subingDTO">
insert into tftube_subed(channel,member_no,subed_member_no) values(#{channel},#{member_no},#{subed_member_no})  
</insert>

<select id="get_subed_member" parameterType="int" resultType="subedDTO">
select * from tftube_subed where member_no=#{member_no}
</select>

<delete id="deleteSubed" parameterType="int">
delete from tftube_subed where subed_member_no=#{subed_member_no}
</delete>

</mapper>