<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.itbank.TechFarm.tftube.mybatis.VideoMapper">		
	
<insert id="insertVideo" parameterType="videoDTO" useGeneratedKeys="true">
insert into tftube_video
(member_no,title,description,open,video_name,video_size,readcount,image,likep,unlikep,video_hash,image_hash,like_status,unlike_status,channel) values
(#{member_no}, #{title},#{description},#{open},#{video_name},#{video_size},0,#{image},0,0,#{video_hash},#{image_hash},0,0,#{channel}) 
</insert>

<delete id="deleteVideo" parameterType="int">
delete from tftube_video where no=#{no}
</delete>

<update id="hitUp" parameterType="int">
update tftube_video set readcount = readcount+1 where no = #{no}
</update>

<select id="listVideo" resultType="videoDTO">
 select * from tftube_video order by no desc
</select>

<select id="listVideo_member_no" parameterType="int" resultType="videoDTO">
 select * from tftube_video where member_no=#{member_no} order by no desc  
</select>

<select id="getVideo" resultType="videoDTO" parameterType="int">
select * from tftube_video where no=#{no} order by no desc
</select>

<select id="getVideo_member_no" resultType="videoDTO" parameterType="int">
select * from tftube_video where member_no=#{member_no} order by no desc
</select> 

<update id="click_like" parameterType="int">
update tftube_video set likep=likep+1 , like_status=1 where no=#{no}
</update>

<update id="cancel_like" parameterType="int">
update tftube_video set likep=likep-1, like_status=0 where no=#{no}
</update>

<update id="click_unlike" parameterType="int"> 
update tftube_video set unlikep=unlikep+1, unlike_status=1 where no=#{no}
</update>

<update id="cancel_unlike" parameterType="int">
update tftube_video set unlikep=unlikep-1, unlike_status=0 where no=#{no}
</update>

 <select id="listRecent_inf" parameterType="int" resultType="video_recentvideoDTO">
 select a.*,b.recent_no from tftube_video a join tftube_recentvideo b on a.video_name=b.video_name and b.member_no=#{member_no} order by b.recent_no desc limit 40;
 </select>	   
 
 <select id="listLike" resultType="videoDTO" parameterType="int">
 select * from tftube_video where like_status=1 and member_no=#{member_no}
 </select> 



</mapper>	